html body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F8F8F8;
}

p, label {
  font-size: 18px;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header_container {
  background-color: #E6DDF3;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12.5px 35px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header_container .menu_container > a + a {
  margin-left: 70px;
}

.header_container .menu_container > a {
  color: black;
}

.header_container #contact_button {
  background-color: #56B251;
  color: white;
  text-decoration: none;
  padding: 10px 39px;
}

.nav_container_mobile {
  display: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  cursor: pointer;
}

.nav_container_mobile a {
  padding-right: 10px;
}

.menu_container_mobile {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #E6DDF3;
}

.menu_container_mobile nav {
  background-color: inherit;
}

.menu_container_mobile a {
  background-color: inherit;
  width: 100%;
  border-top: 1px solid #6944D8;
  float: left;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
}

.menu_container_mobile a:last-child {
  border-bottom: 1px solid #6944D8;
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.content_container {
  padding: 12.5px 0;
}

.split_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
}

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 750px;
  width: 100%;
  background: url("images/hero-background.png") no-repeat center;
  background-size: cover;
}

.hero_container .hero_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-animation: slide-in 250ms cubic-bezier(0.36, 0.37, 0.55, 1.5) forwards;
          animation: slide-in 250ms cubic-bezier(0.36, 0.37, 0.55, 1.5) forwards;
}

.hero_container .hero_text h1 {
  color: #6944D8;
  font-size: 42px;
  padding: 0;
}

.hero_container .hero_text p {
  background-color: inherit;
  color: #1a85d9;
  font-weight: bold;
  margin: 0;
}

@-webkit-keyframes slide-in {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-in {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.profile_container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

.profile_container .profile_description_container {
  width: 60%;
}

.slider_container {
  position: relative;
  overflow: hidden;
}

.languages_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  -ms-overflow-style: none;
  overflow: hidden;
  background-color: white;
}

.languages_container > div {
  background-color: inherit;
  height: 100px;
}

.languages_container img {
  padding: 0 17.5px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.projects_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 25px 35px;
}

.project {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 224px;
          flex: 1 1 224px;
  min-width: 224px;
  max-width: 448px;
  padding: 12.5px;
  height: inherit;
  border: 1px solid black;
  position: relative;
  background-color: #E6DDF3;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.project img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.project .project_name {
  font-weight: 600;
}

.project .project_languages {
  color: #808080;
}

.project button {
  float: right;
  padding: 5px 10px;
  border: none;
  background-color: #56B251;
  color: white;
  cursor: pointer;
}

.to_fade_in {
  opacity: 0;
}

.to_fade_in.fade-in {
  -webkit-animation: fade-in 3s forwards;
          animation: fade-in 3s forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #E6DDF380;
}

.project_image_container {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.project_image_container img {
  height: inherit;
}

.project_description_container {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.form_content_container,
.form_image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-height: 400px;
  padding: 12.5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_form .input_group {
  padding-bottom: 5%;
}

.contact_form .input_group textarea {
  width: 100%;
}

.contact_form #message {
  height: 76px;
}

.contact_form #contact_submit {
  float: right;
}

.form_image_container {
  overflow: hidden;
}

.form_image_container img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer_container {
  background-color: #E6DDF3;
  padding: 0 17.5px;
}

.footer_container .external_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_container .external_links img {
  width: 75%;
}

.footer_container .external_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 8.75px;
  padding: 12.5px 0;
  font-size: 18px;
}

@media screen and (max-width: 1250px) {
  .hero_container {
    background: url("images/hero-background2.png") no-repeat center;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 550px;
  }
}

@media screen and (max-width: 1200px) {
  .profile_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .profile_container > div {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .profile_container .profile_description_container {
    width: 80%;
  }
}

@media screen and (min-width: 551px) {
  .indented {
    margin: 0 35px;
    padding: 0 15%;
  }
}

@media screen and (max-width: 550px) {
  .indented {
    padding: 5%;
  }
}

@media screen and (max-width: 450px) {
  .indented {
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  .menu_container {
    display: none;
  }
  .nav_container_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */