@import "../utilities/variables.scss";

.footer_container {
  background-color: $theme-bg-color;
  padding: 0 $padding-hoizontal/2;
  .external_links {
    display: flex;
    background-color: inherit;
    justify-content: flex-end;
    // gap: 0 $padding-hoizontal/2;
    img {
      width: 75%;
    }
    a {
      display:flex;
      align-items: center;
      gap: 0 $padding-hoizontal/4;
      padding: $padding-vertical/2 0;
      font-size: $text-font-size;
    }
  }
}