$primary-white: white;
$secondary-white: #F8F8F8;
$theme-bg-color: #E6DDF3;
$theme-bg-color-opacity: #E6DDF380;
$theme-text-color: #6944D8;
$regular-text-colour: black;
$grey-text-colour: #808080;
$button_green: #56B251;
$max-resolution: 1920px;
$header-font-size: 28px;
$text-font-size: 18px;
$padding-vertical: 25px;
$padding-hoizontal: 35px;
$projects-height: 500px;